<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

        {% block titulo %}
        Homepage
        {% endblock %}

    </title>

     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    {% block body %}

        <h1>Imediagram</h1>

        {% block formulario %}

            <form method="POST">

                {{form.csrf_token}}

                {{ form.email.label() }}
                {{ form.email() }}

                {{form.senha.label()}}
                {{form.senha()}}

                {{form.botao_confirmacao()}}

            </form>

            <a href="{{ url_for('criar_conta') }}">Criar Conta</a>
        {% endblock %}

    {% endblock body %}

</body>
</html>